/* - Make google logo more discrete on search page - P1 */
/* FRAGILE */ /* .cOl4Id */
html.minimal-on #hplogo,
html.minimal-on #logo,
html.minimal-on #navcnt,
html.minimal-on .cOl4Id {
  filter: grayscale(1)!important;
  opacity: .6;
}

/* - Use text instead of cards on mobile - U1 */
/* FRAGILE */ /* .rsGxI.Ww4FFb, .Ww4FFb */
html.minimal-on .rsGxI.Ww4FFb,
html.minimal-on .Ww4FFb {
  background: transparent;
  box-shadow: none !important;
}
/* FRAGILE */ /* .vt6azd */
html.minimal-on .vt6azd {
  margin: 0px;
}

/* - Hide floating searchbar - C1 */
html.minimal-on #searchform {
  position: absolute !important;
}
