/* - Make content elements discrete unless user hover them - U2 */

html.minimal-on #feat-bar,
html.minimal-on #Stream>*,
html.minimal-on .stream-items>*,
html.minimal-on .tdv2-wafer-ntk-desktop>*,
html.minimal-on .aside-sticky-col>*,
html.minimal-on .ntk-filmstrip>ul>*,
html.minimal-on .ntk-lead {
    transition: 400ms all ease !important;
    opacity: 0.15 !important;
    filter: saturate(0) !important;
}

html.minimal-on #Stream:hover>*,
html.minimal-on .stream-items:hover>*,
html.minimal-on .tdv2-wafer-ntk-desktop:hover>*,
html.minimal-on .aside-sticky-col:hover>*,
html.minimal-on .ntk-filmstrip>ul:hover>* {
    opacity: 0.3 !important;
}

html.minimal-on #feat-bar:hover,
html.minimal-on #Stream>*:hover,
html.minimal-on .stream-items>*:hover,
html.minimal-on .tdv2-wafer-ntk-desktop>*:hover,
html.minimal-on .aside-sticky-col>*:hover,
html.minimal-on .ntk-filmstrip>ul>*:hover,
html.minimal-on .ntk-lead:hover {
    opacity: 1 !important;
    filter: saturate(1) !important;
}


/* - Desaturate logo, links and icons - P1 */
html.minimal-on #ybar-logo {
    filter: grayscale(100%) brightness(300%);
}

html.minimal-on, html.minimal-on[data-color-scheme="dark"] [data-maintain-color], html.minimal-on[data-color-theme-enabled] [data-color-scheme="light"], html.minimal-on[data-color-theme-enabled][data-color-scheme="light"] {
    --grape-jelly: grey;
    --hulk-pants: grey;
}

html.minimal-on #ybarMailLink svg {
    filter: grayscale(100%);
}

/* - Desaturate search bar and remove glowing effect when landing on the page - U1 */

html.minimal-on #ybar-search {
  animation: none;
  background-color: slategrey !important;
  border: none;
}
html.minimal-on #ybar-search:hover {
  background-color: lightslategrey !important;
}
html.minimal-on #ybar-sbq {
    border-color: #b0b0b0 !important;
}

/* - Remove duplicate shortcut for mail - U3 */

html.minimal-on a[data-ylk*=MAIL],
html.minimal-on #ybar-navigation-item-mail {
  display: none
}

/* FRAGILE */
html.minimal-on li._yb_y3byc:nth-child(2) {
  padding-left: 0;
}
